# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Environment & secrets
.env
config.json
config_flask.json
config_respberry_pi.json

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Virtualenv
.venv/
env/
